.card-primary {
  color: $color-primary;
  background-color: $color-bg;
}

.alobari-card {
  width:auto !important;
  border: 1px solid #AFB8BE;
  min-height: auto;
}
.alobari-support-text {
  font-size: 0.9rem;
  font-weight: 600;
}

.alobari-page-welcome {
  background-color:lavender;
}

.alobari-welcome-title {
  font-size:1.4rem;
  text-align: center;
  width: 100%;
  margin:5em 0;
}

.alobari-welcome-buttons {
  width:100%;
}

.alobari-button-fb, .alobari-button-email {
  width:inherit;
}

.alobari-button-fb {
  background-color: #0d47a1;
}

.alobari-button-email {
  background-color: ghostwhite;
}

.alobari-header {
  background-color: $bar-color;
}
.color-success {
  color: $color-success;
}

.alobari-page-container {
  background-color: $color-bg;
  color : #4A5D6C;
}

a {
  color: $color-success;
}

.alobari-cell-2-col {
  width: calc(50% - 8px);
  margin : 4px;
}

.alobari-cell-1-col {
  width: calc(100% - 8px);
}

.alobari-card-text {
  font-size : 0.9rem;
  overflow: hidden;
  padding: 4px 8px;
  font-weight: 600;
}
.alobari-card-date {
  font-weight: 300;
  font-size: 0.8rem;
}

.grid-item { width: 100px; }
.grid-item--width2 { width: 200px; }



